.catalog {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}


.title { 
    margin-left: 102px;
    color: #fff; 
    margin-right: 40px;
}

.right-catalog {
    display: flex; 
    align-items: center; 
    margin-right: 40px;
}

.container-button {
    display: flex; 
    align-items: center; 
    margin-right: 5px; 
    padding: 5px; 
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
    border-radius: 14px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.container-button:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.08); /* Уменьшение непрозрачности для красивого эффекта */
    border-radius: 14px;
}

.catalog-title {
    text-decoration: none; 
    color: #FFFFFF; 
    margin-left: 5px; 
    padding: 5px 5px; 
}

.filter-container {
    display: flex; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.08); /* Прозрачный белый фон */
    padding: 4px; 
    border-radius: 14px; 
}

.filter-container:hover {
    background-color: #ffffff4d;
}

.filter-box {
    display: flex; 
    align-items: center; 
    margin-right: 4px; /* Отступ между фильтром и полем ввода */
    width: 120px;
    height: 36px;
    background-color: #2D2C32;
    border-radius: 10px;
    position: relative; /* Помогаем с позиционированием выпадающего списка */
    overflow: hidden; /* Убираем переполнение */
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавим многоточие, если текст длиннее */
}

.filter-box:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Уменьшение непрозрачности при наведении */
}

.filter-label {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 9pt;
    margin: 10px 6px;

}

.dropdown-icon {
    width: 25px; 
    height: 25px; 
}

.search-input {
    font-size: 10pt;
    color: white;
    background-color: transparent;
    border: none; 
    border-radius: 5px; 
    outline: none; 
    caret-color: white;
    padding: 5px; /* Добавлено для внутреннего отступа */
}


.button-icon-catalog {
    background-color: transparent;
    border: none;
    cursor: pointer; /* Указатель при наведении на кнопку */
}

/* Стили для выпадающего меню */
.catalog-dropdown-menu {
    position: absolute;
    z-index: 100;
    top: 167px;
    background-color: white;
    border-radius: 14px;
    box-shadow: none;

}

.catalog-dropdown-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Убираем маркеры списка */
}

.catalog-dropdown-menu li {
    padding: 10px 15px; /* Отступы для пунктов меню */
    cursor: pointer; /* Указатель при наведении */
    color: black; /* Цвет текста для пунктов */
    transition: background-color 0.2s; /* Плавный переход фона при наведении */
}

.catalog-dropdown-menu li:hover {
    background-color: #2d2c3241; /* Цвет фона при наведении на пункт */
}

@media (max-width: 600px) {

    .catalog {
        margin: 0;
    }

    .title {
        display: flex; /* Показываем иконки в мобильном режиме */
        margin-left: 20px; /* Добавляем отступ слева 20px */
    }

    .container-button {
        display: flex; /* Показываем иконки в мобильном режиме */
        justify-content: flex-end; /* Иконки выравниваются вправо */
        position: absolute; /* Позиционируем иконки абсолютно */
        margin-right: 16px; /* Расстояние от правого края */
        margin-top: 0px; /* Расстояние от верхнего края */
    }

    .catalog-title{
        display: none;
    }

    .filter-container{
        display: none;
    }
}